<app-navbar></app-navbar>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">Movie List</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4" *ngFor="let movie of movies">
      <div class="card mb-4 shadow-sm">
        <img class="card-img-top" src="{{movie.poster}}" alt="{{movie.name}}" style="height: 300px; object-fit: cover;">
        <div class="card-body">
          <h5 class="card-title">{{movie.name}}</h5>
          <p class="card-text">{{movie.description}}</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <a routerLink="/movie/{{movie._id}}" class="btn btn-sm btn-outline-dark">View Details</a>
              <button *ngIf="user" routerLink="/book/{{movie._id}}" class="btn btn-sm btn-outline-dark">Book Ticket</button><br>
              <!-- <ngx-slider [(value)]="value" [options]="options"></ngx-slider> -->
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ngx-slider [(value)]="value" [options]="options"></ngx-slider>